        /*Product-Details page CSS code section*/
        .body-style{
            justify-content: center;
        }

        .details-grid-container {
            position: relative; /* Change from absolute */
            margin: 1.5vh auto 0; /* 95px top margin for header space */
            width: 96%;
            --details-container-height: calc(100vh - 130px);
            height: var(--details-container-height);
            padding: 20px 1% 0 1%;
            justify-content: center;
            display: grid;
            background: rgba(237, 234, 227, 0.42);
            grid-template-columns: 0.3fr 1fr 0.5fr;
            grid-template-rows: 53.26% 39.63%;
            gap: 2.5vw;
            grid-template-areas: 
                "box-1 box-2 box-3" 
                "box-4 box-4 box-3";
        }
        
            /*box-1 stuff*/

        .manga-img>img{
            margin-left: 1vw;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            object-fit: cover;
            width: 100%;
        }

            /*box-2 stuff*/

        .title{/* Sakamoto Days */
            height: 88px;
            padding: 10;
            margin: 0;
            left: calc(50% - 484px/2 - 306px);
            top: calc(50% - 88px/2 - 373px);
            
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 81px;

            color: #000000;
        }
        .release-date{/* 2020 */
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 50px;
            
            color: #000000;
            
            opacity: 0.7;
        }
        .meta-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .meta-row a {
            color: #3CCEFF;
            text-decoration: none;
            margin-right: 4px;
        }
        
        .meta-row a:last-child {
            margin-right: 0;
        }
        
        .inter-font{
            font-family: 'Inter';
            font-size: 24px;
            line-height: 29px;
        }

        .details{
            text-align: justify;
        }

        .overflowen{
            overflow: scroll;
        }

            /*box-3 stuff*/

        .dromdown-font{
            font-family: 'Inter';
            font-size: clamp(1.75rem, 1vw + 1.25rem, 2rem);
            line-height: 39px;
            text-align: center;
        }

        .money-lost-wrapper {
            display: flex;
            justify-content: right;
            height: calc(var(--details-container-height) - 20px);
        }

        
        .money-lost {
            background: rgba(178, 189, 196, 0.32);
            border-radius: 32px;   
            width: clamp(280px, 100%, 700px);
            align-content: center;
            display: inline-block;
        }
        
        .selector-grid-container{
            border: 0px;
            height: 100%;
            justify-content: space-around;
            margin-top: 6%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 45px auto 1fr auto;
            padding: 0 clamp(16px, 16px, 50px); /* Add horizontal spacing */
            gap: 28px;
            grid-template-areas: "box3-1 box3-2" 
                                 "box3-3 box3-4"
                                 "box3-5 box3-5"
                                 "box3-6 box3-6";
        }

        .dropdown-container {
            display:inline-flex;
            position: relative;
            justify-content: end;
            min-width: 50px;
            width: 33%;
        }

        .vol-qua{ /*centers the Volume and Quantity box content*/
            text-align: center;
        }

        .dropbtn {
            width: 100%;
            height: 45px;
            border: none;
            border-radius: 10px;
            background-color: #e0e0e0;
            display:inline-flex;
            align-items: center;
            justify-content: center;
            gap: 8px; /* space between text and arrow */
            cursor: pointer;
            padding: 0 10px;

        }
        
        #selected-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
        
        .arrow {
            width: 30px;
            height: 50px;
            position:fixed;
            justify-self: right;
            margin-left: 2.3%;
            transform: rotate(90deg);
            transition: transform 0.2s ease;
        }
        
        /* When dropdown is open */
        .dropdown-container.open .arrow {
            transform: rotate(0deg);
        }
        
        .dropdown-container.open .dropbtn {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            background-color: #e0e0e0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            overflow: hidden;
            z-index: 1;
        }
        
        .dropdown-container.open .dropdown-content {
            display: block;
        }
        
        .dropdown-content a {
            padding: 15px 10px;
            text-decoration: none;
            color: #000;
            display: block;
            font-family: 'Inter', sans-serif;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            transition: background 0.2s;
        }
        
        .dropdown-content a:hover {
            background-color: #ccbc7a79;
        }

        .you-are-normal, .you-are-rich {
            width: 100%;
            max-width: 400px;
            margin: 6% 0 0 0;
            padding: 0 16px;
        }
        .you-are-normal{   
            height: 66.05px;            
            background: #D9D9D9;
            border-radius: 36px;      
            border: 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;  
        }
        .you-are-rich {     /* Rectangle 51 */
            justify-content: space-around;
            height: 66.05px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            background: linear-gradient(251.27deg, #FFEFCD 13.32%, #FFC955 51.09%, #997933 107.86%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 35px;
            border: 0;
        }

        #total-price{
            display: flex;
            align-items: end;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 20px 0;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;

            color: #000000;
        }

        #total-price p {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: clamp(1.5rem, 2vw, 2rem);
        }
        .add-to-cart{
            align-self: end;
            margin-bottom: 10%;
        }

        #add-to-cart{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            height: 74px;
            font-size: clamp(1.2rem, 1.5vw, 1.5rem);
            background: rgba(194, 217, 223, 0.5);
            border-radius: 23px;
            border: 0;
        }

        /*box-4 stuff*/

        .More-like-this{
            font-family: 'Inria Serif';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 40px;
            border-bottom: 1.5px solid #000000;
            color: #000000;
            width: 50vw;
            padding-bottom: 5px;
            margin-top: 0;
        }
        .img{
            width: 100%;
            height: 100%;
           
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            object-fit: cover;
            object-position: center;
            display: block; 
         
        }

        .More-container{
            display: grid;
            grid-template-columns:10vw 10vw 10vw 10vw 10vw;
            gap: 1.7vw;
            align-items: center;
        }
        
        .img_button{
            object-fit:cover;
            background: none;
            border: 3px solid transparent;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            display: grid;
            position: relative;
            grid-template-rows: 1fr ;
            width: 10vw;
            height: 26vh;
            padding: 0px;
            overflow: hidden;
        
            
        }

        .img, #title {
            grid-area: 1 / 1;
            position: relative;
        
        
        }
        #title{
            margin: 0;
            padding: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease;
        }
        .img_button:hover #title {
            align-self: end;
            z-index: 2; 
          
            background: #000000;
            opacity: 0.8;
            visibility: visible;
        
            font-family: 'Joan';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height:1px;
        
        color: rgba(255,255,255,1);
        
        border: 1px solid #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        }
        
        .img_button:hover{
           box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            border: lightseagreen solid 3px;
        }





