        .poppins-regular {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
         }
  
        .menu {
            background-color: #34516C;
            height: 75px;
            margin: 0;
            display: flex; 
            justify-content: space-between;
            align-items: center; 
        }

        body {
            margin:0;
            height: 100%;
            width: 100%;
            background-color: #2C2C2C;
            position: relative;
            font-family: "Poppins", sans-serif;
        }

        
        .search-container{
            width: 763px;
            height: 60px;
            background-color: #0D0B26;
            display: flex;
            align-items: center;
            align-content: center;
            box-align: center;
            padding: 0 8px;
            gap: 6px;
            box-shadow: 0px 4px 12px rgba(13, 10, 44, 0.06);
            border-radius: 32px;}

        .unbutton-filter {
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            border-radius: 0;
            height: 44px;
            appearance: none;
          }
          .unbutton-filter:hover svg path {
            stroke: #E3E3E3; /* Change to a lighter color */
            transition: stroke 0.3s ease-in-out; /* Smooth transition */
            }
            .unbutton-filter:active svg path {
                stroke-width:3px; /* Change to a lighter color */
                /*transition: stroke 0.3s ease-in-out; /* Smooth transition */
                }
        
        .search{
            width: 620px;
            height: 44px; /* Match actual total height */
            padding: 0 16px; /* Only left and right padding */
            background-color: #0D0B26;
            border-radius: 25.6px;
            text-align: left;
            font-size: 24px;
            color: #ABB7C2;
            border-style: hidden;
        }

        .logo { /*changed class name from icon to logo*/
            width: 56px;
            height: 56px;
            margin-right: 12px; 
            padding-left: 24px;

        }
        .signlog-container{
            display: flex;
            align-items: center; 
            justify-content: center;
            gap: 12px;
            padding-right: 24px;

        }
        .signlog{ background-color: 0;
                    width:104px;
                    height:40px;
                    font-weight: 200;
                    border-radius: 8px;
                    text-align: center;
                    border: 0px;
        }
        
        #signup{ background-color: #E3E3E3;
                 color:#2C2C2C;
        }
        #login{ background-color: #2C2C2C;
                 color:#E3E3E3;
        }
